skill/src/node_modules/*
skill/deploy/deploy.properties
skill/deploy/*.zip
skill/sam/*.json
server/.bundle/*
server/certs/*
server/vendor/*
server/.env
server/.rbenv_version
server/.ruby-version
server/Gmefile.lock
server/node_modules
server/log/*
