skill/node_modules/*
skill/sam/*.json
skill/.aldeployrc.json
server/.bundle/*
server/certs/*
server/vendor/*
server/.env
server/.rbenv_version
server/.ruby-version
server/Gmefile.lock
server/node_modules
server/log/*
