<!DOCTYPE html>
<html>
  <head>
    <title>ツイログ-アカウントリンク</title>
  </head>
  <body>
    <div id="topimage"><img src="" alt="ツイログアイコン" title="ツイログアイコン"/></div>
    <h1 id="title">ツイログアカウントリンク</h1>
    <p>
      ツイログを利用するためにはTwitterにログインのうえ、アプリケーションの連携許可が必要です。
    </p>
    <p>
      <a href="<%= @authorize_url %>">ここからアカウントリンクを行ってください</a>
    </p>
  </body>
</html>

